body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
}
th {
    text-align: center;
    vertical-align: middle;
}
#content {
    flex: 1;
    overflow-x: auto;
    background-color: #212529;
}
.block-pocket {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: center;
    gap: 10px;
}
.week{
    margin: 0;
}

/* checkboxes and switches */

#toggle-toolbar-classes {
    text-align: center;
    vertical-align: center;
    margin: auto;
}
/* form-check must stay above form-switch so form-switch overrides */
.form-check {
    padding: 5px;
}
.form-switch {
    padding: 0 50px 10px 50px;
    margin: auto 0 auto 0;
}
.phone-toolbar-button-padding {
    margin: 0 50px 10px 50px;
}
h5 {
    padding: 10px;
}
