body {
    background-color: #212529;
}
th {
    text-align: center;
    vertical-align: middle;
}
.footer {
    position: fixed;
    display: flex;
    justify-content: center;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3em;
}
.foot {
    text-align: center;
    margin: auto;
    padding: 10px;
    color: white;
}
.week {
    margin: 0px;
}
.block-pocket {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: center;
    gap: 10px;
}
.block {
}
#class-info-1{
    bottom: 6em;
    background-color: dimgray;
}
#class-info-2{
    bottom: 3em;
    background-color: dimgray;
}
.info{
    color: white;
    padding: 0 20px 0 20px;
    margin: auto 0 auto 0;
}
#filler-bottom {
    height: 5em;
}
#filler-top {
    height: 3em;
}
#toolbar {
    position: sticky;
    display: flex;
    justify-content: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 3em;
    background-color: dimgray;
    color: white;
}
.form-check {
    padding: 0 50px 0 50px;
    margin: auto 0 auto 0;
}
.class-socialstudies-color, .class-socialstudies-color:checked {
    background-color: green;
    border: dimgray;
}
.class-finearts-color, .class-finearts-color:checked {
    background-color: royalblue;
    border: dimgray;
}
.class-english-color, .class-english-color:checked {
    background-color: mediumpurple;
    color: black;
    border: dimgray;
}
.class-science-color, .class-science-color:checked {
    background-color: indianred;
    border: dimgray;
}
.class-cte-color, .class-cte-color:checked {
    background-color: darkorange;
    border: dimgray;
}
.class-math-color, .class-math-color:checked {
    background-color: lightsalmon;
    border: dimgray;
    color: black;
}
.class-lote-color, .class-lote-color:checked {
    background-color: lightblue;
    color: black;
    border: dimgray;
}
.class-unknown-color {
    background-color: white;
    color: black;
    border: dimgray;
}
